.container {
    height: 3392px;
}

.header {
    background: #f5f5f5 none;
    height: 360px;
}

.header .text {
    color: #212121;
    font-size: 62px; /* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 150px;
    margin-left: 100px;
    width: 620px;
}

.menu-products {
    height: 156px;
    position: relative;
}

.menu-products ul {
    margin: auto;
    position: absolute;
    top: 0;
    left: 96px;
    bottom: 0;
    right: 0;
    height: fit-content;
    display: inline-block;
}

.menu-products li {
    float: left;
    list-style-type: none;
}

.menu-products li a {
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #8c8c8c;
    text-decoration: none;
    display: block;
    padding: 0 20px 10px 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #6c6c6c;
}
.menu-products li a.first {
    padding-left: 0px;
}
.menu-products li a.last {
    padding-right: 0px;
}
.menu-products li a:hover {
    transform: scaleY(1.0006); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    color: #212121;
    border-bottom: 3px solid black;
}

.menu-products li a.active {
    color: #212121;
    border-bottom: 3px solid black;
}

.menu-products li a.search:hover {
    border: none;
}
.trending-products-bar .trending{
    margin: 0;
}

.first-row{
    margin-bottom: 0px;
}

.preloader {
    background: url("img/preloader.jpg") no-repeat;
    width: 42px;
    height: 29px;
    display: inline-block;
}

.loader-area {
    clear: both;
    text-align: center;
    margin-bottom: 140px;
    margin-top: 70px;
}

.trending-products-bar {
    height: fit-content;
}
.featured-bar {
    height: fit-content;
}
